@import url('https://fonts.googleapis.com/css2?family=Caacupe+One&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

* {
    margin: 0;
    padding: 0;
    color: rgb(115, 123, 128);

}

*,
::after,
::before {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    min-height: 100vh;
    background: radial-gradient(circle, #024132cb, #080120);
   /* background: linear-gradient(
        120deg,
        #021644,
        #011929
    ); */

}

/* .nav-header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1000;

}

.main-nav-bar {
    display: flex;
    gap: 2rem;
    justify-content: flex-end;
    background-color: #02123549;
    padding: 12px 0 12px 0;
    align-items: center;
    margin-right: 2rem;
    flex: 1;


}

.main-nav-bar a {
    text-decoration: none;
    color: #d5dbb1;
    padding: 8px 12px 8px 12px;
    margin: 4px;
    font-size: 14px;
    font-weight: 600;
    background: linear-gradient(to right, #07011a, #0f013d);
    border-radius: 6px;

} */


.container {
    font-size: 14px;

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
    /* background-color: #05149e; */


    padding: 20px;
}


.login-card {

    width: 100%;
    max-width: 400px;

    background: linear-gradient(to bottom, #010b2b, #021f41f3, #000f41d0);

    padding: 40px;

    border-radius: 20px;

    box-shadow: 0 5px 20px rgba(40, 221, 253, 0.897);
    transition: all 0.2s ease-in-out;

}

.login-card:hover {
    transform: translateY(-1px);
    box-shadow: 0 10px 35px rgba(40, 221, 253, 0.897);
}

.logo {
    text-align: center;
    margin-bottom: 30px;
}

.logo h1 {
    color: rgb(231, 231, 215);
    font-size: 1.8rem;
    font-family: "Playfair Display", serif;
    font-optical-sizing: auto;
    /* font-weight: <weight>; */
    font-style: normal;
    line-height: 1;
    margin-bottom: 8px;
}

.logo p {
    /* color:#666; */
    font-size: 13px;
    /* margin-top: 8px; */
    color: rgb(115, 123, 128);
    font-weight: 450;
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input-group label {
    font-family: "Noto Serif", serif;
    font-optical-sizing: auto;
    font-size: 14px;
    font-weight: 600;
    display: block;
    padding: 12px 0 8px 0;
    margin: 4px;

}



.form-input {
    width: 100%;
    max-width: 400px;

    padding: 8px 12px;
    font-size: 12px;
    font-family: inherit;
    color: #333333;
    background-color: #ffffff;
    border: 2px solid #e0e0e0;
    border-radius: 8px;
    outline: none;

    transition: all 0.3s ease;

    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);

    cursor: pointer;


}

#email:focus {
    border-color: #00f3ff;
    background-color: #040120;
    color: #fff;
    box-shadow: 0 0 8px #00f3ff, 0 0 15px rgba(0, 243, 255, 0.5);
}

#password:focus {
    border-color: #00f3ff;
    background-color: #040120;
    color: #fff;
    box-shadow: 0 0 8px #00f3ff, 0 0 15px rgba(0, 243, 255, 0.5);
}

.form-input:valid {
    border-color: #00ff2a;

    box-shadow: 0 0 8px #12b30c, 0 0 15px rgba(55, 252, 6, 0.5);

}

/* #email:invalid{
    border-color: #ee2020;

    box-shadow: 0 0 8px #ce1f1f, 0 0 15px rgba(230, 3, 41, 0.5);
} */

.form-input::placeholder {
    color: #a0a0a0;
    opacity: 1;

}

.options {
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: space-between;
}

.remember {
    display: flex;
    gap: 8px;
    align-items: center;
    font-size: 12px;
    font-weight: 700;

}

input[type="checkbox"] {
    accent-color: rgb(100, 241, 6);
}

.options a {
    text-decoration: none;
    font-weight: 500;
    font-size: 12px;
    color: #0bd326;

}

.s-btn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    margin: 4px;
    color: #0c0361;
    font-weight: 600;
    line-height: 1;
    background: linear-gradient(to right, #0dbd56, #028b14);
    border-radius: 8px;
    border: none;
    cursor: pointer;
    user-select: none;
    transition: all 0.3s ease-in-out;
    box-shadow: 0 0 10px rgba(0, 243, 255, 0.2);

}

.s-btn:hover {

    transform: translateY(-1px);
    background: linear-gradient(to right, #2d7a4d, #06bb1e);




    color: #111;
    box-shadow: 0 0 10px #00f3ff, 0 0 20px rgba(0, 243, 255, 0.5);

}

.divider {
    display: flex;
    align-items: center;
    text-align: center;
    color: #4b5563;

    font-size: 11px;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 16px;
}

.divider::before,
.divider::after {
    content: '';
    flex: 1;
    border-bottom: 1px solid #474f5c;

}

.divider:not(:empty)::before {
    margin-right: 12px;
}

.divider:not(:empty)::after {
    margin-left: 12px;
}

.google-btn {

    display: block;


}

hr.glow {
    border: none;
    height: 3px;
    background-color: #37a58f;
    box-shadow: 0 0 10px #029b1b;
}

.other-options {
    display: flex;
    gap: 0.6rem;
    flex-wrap: wrap;


}

.other-options button span {
    padding-right: 0.4rem;

}

.other-options button {
    flex: 1;

    display: flex;
    /* gap: 12px; */
    align-items: center;
    justify-content: space-evenly;
    /* text-align: center; */
    padding: 6px 8px 6px 6px;
    margin: 4px;

    border: none;
    font-size: 12px;
    font-weight: 400;
    background: #030036;
    color: #bcf2f5;
    border-color: #022c2e;

    border-radius: 25px;
    transition: all 0.2s ease-in-out;

}

.other-options button:hover {
    /* border-color: #06a7af; */
    box-shadow: 0 0 10px #00f3ff, 0 0 20px rgba(0, 243, 255, 0.5);
    color: white;

    cursor: pointer;
    transform: translateY(-1px);
    background: #06033fc0;


}

.signup {

    text-align: center;
    padding-top: 8px;
    margin: 4px;

}

.signup a {
    text-decoration: none;
}

.signup a:hover {
    color: #00f3ff;


}